@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}
.body {
  margin: 0;
  padding: 0;
  margin-top: -20px;
  background: linear-gradient(-45deg, #264653, #2a9d8f, #e9c46a, #f4a261, #e76f51);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 103vh;
  overflow-x: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.body .title {
  display: inline;
  margin-left: 510px;
}
.body .title h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 700;
  margin-bottom: 50px;
}
.body .title a {
  text-align: right;
  margin-top: 20px;
  margin: 4px 2px;
}
.body .title a h4 {
  background-color: transparent;
  border: none;
  color: rgb(228, 72, 72);
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
.body .title a h4:hover {
  background-color: #ff0000;
  color: #ffffff;
}
.body .title a .ubah:hover {
  background-color: #0037ff;
  color: #ffffff;
}
.body .table {
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: auto;
}

@media (max-width: 775px) {
  .body {
    height: 150vh;
  }
  .body .table {
    overflow-y: scroll;
  }
}

@media (max-width: 1280px) {
  .body .title {
    display: inline;
    margin-left: 100px;
  }
  .body .title h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 700;
    margin-bottom: 50px;
  }
  .body .title a {
    color: rgb(248, 55, 55);
    margin-left: 10px;
    margin-top: 30px;
    text-align: right;
    margin-bottom: 30px;
  }
}
